{% extends 'interface/base.html.twig' %}

{% block title %}{{ person.fullName }} | {{ 'person.editing' | trans }}{% endblock %}

{% block main %}

    <div class="md-box">
        <header class="user-title-block">{{ 'person.editing' | trans }}</header>

        <div class="md-content-padding md-mobile-padding">
            {{ include('interface/person/_form.html.twig', {'button_label': 'update' | trans}) }}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ ckeditor() }}
{% endblock %}
