<div class="md-notification md-comment-notification{% if notification.type == 'user_follow' %} user-follow-notification{% endif %}">

    <div class="notify-sender-user">
        <a href="{{ path('user_profile', {'username': sender.username}) }}">
            <span class="md-avatar md-avatar-50" style="background-image: url('{% if sender.profile.avatar != 'avatar.jpg' %}{{ vich_uploader_asset(sender.profile) | imagine_filter('thumbnail') }}{% else %}{{ asset('assets/images/avatar.jpg') | imagine_filter('thumbnail') }}{% endif %}')"></span>
        </a>
    </div>

    <div class="notify-message-body">

        <div class="notify-message">

            <a class="notify-message-user" style="font-weight: 500" href="{{ path('user_profile', {'username': sender.username}) }}">
                {{ sender.username }}
            </a>

            {% if sender.profile.verified %}
                <span class="md-comment-verified">
                    <i class="fas fa-check-circle text-info"></i>
                </span>
            {% endif %}

            {{ notificationMessage(notification,sender) }}

            <br>

            <small class="text-muted">
                {% if notification.publishedAt | date('d') | slice(0,1) == 0 %}
                    {{ notification.publishedAt ? notification.publishedAt | date('d') | replace({'0':''}) }}
                {% else %}
                    {{ notification.publishedAt ? notification.publishedAt | date('d') }}
                {% endif %}

                {{ ('month' ~ notification.publishedAt | date("m")) | trans }}

                {% if "now" | date("Y") != notification.publishedAt | date('Y') %}
                    {{ notification.publishedAt ? notification.publishedAt | date('Y') }}
                {% endif %}

                {{ notification.publishedAt ? notification.publishedAt | date(' H:i') }}

                <button class="notification-delete" data-toggle="modal" data-target="#deleteNotification{{ notification.id }}">
                    {{ 'delete' | trans }}
                </button>
            </small>

            <div class="modal fade md-confirm-modal" id="deleteNotification{{ notification.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="md-modal-container">
                            <div class="md-modal-message">{{ 'sure.to.delete.notification' | trans }}</div>
                            <form class="md-modal-item" method="post" action="{{ path('user_notification_delete', {'id': notification.id}) }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ notification.id) }}">
                                <button class="btn btn-modal-danger">
                                    {{ 'delete' | trans }}
                                </button>
                            </form>
                            <button type="button" class="btn btn-modal-default md-modal-item" data-dismiss="modal">{{ 'cancel' | trans }}</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    {% if notification.type != 'user_follow' %}

        <div class="notify-picture">

            {% if notification.type == 'comment_reply' and notification.song %}

                <a href="{{ path('song_show',{'slug':notification.song.slug}) }}">
                    <span class="back-picture bp-50" style="border-radius: 3px;margin-right: 14px;background-image: url('{% if notification.song.vocalist.picture %}{{ vich_uploader_asset(notification.song.vocalist) | imagine_filter('thumbnail') }}{% else %}{{ asset('assets/images/avatar.jpg') | imagine_filter('thumbnail') }}{% endif %}')">
                    </span>
                </a>

            {% elseif notification.type == 'post_approved' or notification.type == 'post_like' or notification.type == 'user_tagged' or notification.type == 'post_rejected' or notification.type == 'post_comment' or notification.type == 'comment_reply' and notification.post %}

                <a href="{{ path('post_show',{'id':notification.post.id}) }}">
                    <span class="back-picture bp-50" style="border-radius: 3px;margin-right: 14px;background-image: url('{% if notification.post.image %}{{ vich_uploader_asset(notification.post) | imagine_filter('thumbnail') }}{% else %}{{ asset('assets/images/question.jpg') | imagine_filter('thumbnail') }}{% endif %}')">
                    </span>
                </a>

            {% elseif notification.type == 'comment_like' %}

                {% if notification.post %}
                    <a href="{{ path('post_show',{'id':notification.post.id}) }}">
                        <span class="back-picture bp-50" style="border-radius: 3px;margin-right: 14px;background-image: url('{% if notification.post.image %}{{ vich_uploader_asset(notification.post) | imagine_filter('thumbnail') }}{% else %}{{ asset('assets/images/question.jpg') | imagine_filter('thumbnail') }}{% endif %}')">
                        </span>
                    </a>
                {% else %}
                    <a href="{{ path('song_show',{'slug':notification.song.slug}) }}">
                        <span class="back-picture bp-50" style="border-radius: 3px;margin-right: 14px;background-image: url('{% if notification.song.vocalist.picture %}{{ vich_uploader_asset(notification.song.vocalist) | imagine_filter('thumbnail') }}{% else %}{{ asset('assets/images/avatar.jpg') | imagine_filter('thumbnail') }}{% endif %}')">
                        </span>
                    </a>
                {% endif %}

            {% endif %}

        </div>

    {% endif %}

</div>
