{% extends 'interface/base.html.twig' %}

{% block title %}{{ 'moderation' | trans }}{% endblock %}

{% block main_top %}
    {{ breadcrumb({
        (path('user_profile', {'username': app.user.username} )) : (app.user.username),
        'active' : 'moderation' | trans
    }) }}
{% endblock %}

{% block main %}

    <div class="md-box md-content-padding md-mobile-padding">
        <h3 class="text-center">{{ 'statistics' | trans }}</h3>
        <div class="scrollable-table">
            <table class="table table-center">
                <tbody>

                {% for stat in stats %}
                    <tr>
                        <th scope="row" style="text-align: left;">{{ stat.name | trans }}</th>

                        <td>
                            {% if stat.moderation != 0 %}
                                <a href="{% if stat.name == 'songs' %}{{ path('moderation_ready' ) }}{% elseif stat.name == 'posts' %}{{ path('moderation_posts' ) }}{% endif %}">
                                        <span class="badge badge-pill badge-danger">
                                            {{ stat.moderation }}
                                        </span>
                                </a>
                            {% else %}
                                -
                            {% endif %}
                        </td>

                        <td>
                            {% if stat.published != 0 %}
                                <span class="badge badge-pill badge-success">
                                    {{ stat.published }}
                                </span>
                            {% else %}
                                -
                            {% endif %}
                        </td>

                        <td>
                                <span class="badge badge-pill badge-primary">
                                    {{ stat.total }}
                                </span>
                        </td>

                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <div class="md-box md-margin-bottom">
        <div class="md-vertical-menu m-0">

            <a href="{{ path('moderation_posts') }}">
                <span class="icon">
                    <i class="fas fa-sticky-note"></i>
                </span>
                <span>
                    {{ 'posts' | trans }}
                </span>
            </a>

            <a href="{{ path('moderation_music') }}">
                <span class="icon">
                    <i class="fas fa-play-circle"></i>
                </span>
                <span>
                    {{ 'music' | trans }}
                </span>
            </a>

            <a href="{{ path('moderation_actions') }}">
                <span class="icon">
                    <i class="fas fa-hand-point-up"></i>
                </span>
                <span>
                    {{ 'actions' | trans }}
                </span>
            </a>

            <a href="{{ path('moderation_reports') }}">
                <span class="icon">
                    <i class="fas fa-exclamation-triangle"></i>
                </span>
                <span>
                    {{ 'reports' | trans }}
                </span>
            </a>

        </div>

        <div class="md-vertical-menu">

            <a href="{{ path('users_index') }}">
                <span class="icon">
                    <i class="fas fa-users"></i>
                </span>
                <span>
                    {{ 'users' | trans }}
                </span>
            </a>

            <a href="{{ path('activities_index') }}">
                <span class="icon">
                    <i class="fas fa-running"></i>
                </span>
                <span>
                    {{ 'activities' | trans }}
                </span>
            </a>

            <a href="{{ path('tags_index') }}">
                <span class="icon">
                    <i class="fas fa-hashtag"></i>
                </span>
                <span>
                    {{ 'tags' | trans }}
                </span>
            </a>

        </div>
    </div>

{% endblock %}
