{% extends 'interface/base.html.twig' %}

{% block title %}{{ 'search' | trans }}{% endblock %}

{% block pageclass %}two-sidebars{% endblock %}

{% block main_top %}
    {{ breadcrumb({
        (path('app_home')) : ('home.page' | trans),
        'active' : ('users.for.keyword' | trans({'keyword': keyword})),
    }) }}
{% endblock %}

{% block main %}

    <div class="md-search">

        {{ form_start(form) }}

            <div class="md-search-box md-search-input-box md-box">

                <div class="md-search-input">
                    {{ form_widget(form.keyword) }}
                    <button class="btn btn-success">
                        {{ 'search' | trans }}
                    </button>
                </div>

                <div class="md-search-pages-menu">
                    <a href="{{ path('search_index',{'keyword':keyword}) }}">{{ 'all' | trans }}</a>
                    <a href="{{ path('search_users',{'keyword':keyword}) }}" class="active">{{ 'users' | trans }}</a>
                    <a href="{{ path('search_songs',{'keyword':keyword}) }}">{{ 'music' | trans }}</a>
                    <a href="{{ path('search_posts',{'keyword':keyword}) }}">{{ 'posts' | trans }}</a>
                </div>

            </div>

        {{ form_end(form) }}

        {% if users %}

            <div class="md-search-box md-box md-content-padding md-mobile-padding">

                {% for user in users %}
                    {{ userLine(user) }}
                {% endfor %}

            </div>

        {% endif %}

        {% if not users %}

            <div class="md-search-box-not-found md-search-box md-box md-content-padding md-mobile-padding">
                {% if page > 1 %}
                    {{ 'not.found.users.for.keyword' | trans({'keyword':keyword}) }} {{ 'in.page' | trans({'page':page}) }}
                {% else %}
                    {{ 'not.found.users.for.keyword' | trans({'keyword':keyword}) }}
                {% endif %}
            </div>

        {% endif %}

    </div>

    {{ paginator.display() }}

{% endblock %}

{% block sidebar_b %}

    <div class="sidebar-b">
        <div class="md-box sticky-top" style="padding: 12px">
            <div class="text-muted mb-2 pl-2">{{ 'search' | trans }}</div>

            <div class="md-menu">

                <ul>
                    <li class="md-menu-item md-lined-menu">
                        <a style="padding-left: 8px" href="{{ path('search_index',{'keyword':keyword}) }}">
                            {{ 'all' | trans }}
                        </a>
                    </li>
                    <li class="md-menu-item md-lined-menu">
                        <a style="padding-left: 8px" href="{{ path('search_songs',{'keyword':keyword}) }}">
                            {{ 'music' | trans }}
                        </a>
                    </li>
                    <li class="md-menu-item md-lined-menu active">
                        <a style="padding-left: 8px" href="{{ path('search_users',{'keyword':keyword}) }}">
                            {{ 'users' | trans }}
                        </a>
                    </li>
                    <li class="md-menu-item md-lined-menu">
                        <a style="padding-left: 8px" href="{{ path('search_posts',{'keyword':keyword}) }}">
                            {{ 'posts' | trans }}
                        </a>
                    </li>

                </ul>

            </div>

        </div>
    </div>

{% endblock %}
