{{ form_start(form) }}

    <div class="row label-icons-form">

        <div class="col-12">

            {{ form_widget(form) }}

            <button class="btn btn-primary">
                {{ button_label | default('add') | trans }}
            </button>

            <a class="btn btn-link float-right" href="{{ path('activities_index') }}">
                {{ 'cancel' | trans }}
            </a>

        </div>

    </div>

{{ form_end(form) }}
