{% extends 'interface/base.html.twig' %}

{% block title %}{{ 'notifications' | trans }}{% endblock %}

{% block main %}

    <div class="md-box">

        {% if requests %}
            <a href="{{ path('user_requests') }}">
                <div class="md-content-padding md-mobile-padding requests-notification">
                    {{ 'follow.requests' | trans }}
                    <span class="indicator">{{ requests }}</span>
                </div>
            </a>
        {% endif %}

        <div class="md-content-padding md-mobile-padding">

            <div class="md-notifications">

                {% for notification in notifications %}

                    {{ notificationView(notification) }}

                {% else %}

                    <div class="not-have-message not-have-message-center">
                        <i class="far fa-bell" style="margin-right: 3px"></i>
                        {{ 'you.have.not.notifications' | trans }}
                    </div>

                {% endfor %}

            </div>

        </div>

    </div>

    {{ paginator.display() }}

{% endblock %}
