{% extends 'interface/base.html.twig' %}

{% block title %}{{ 'password.recovery' | trans }}{% endblock %}

{% block pageclass %}login-pages register-page{% endblock %}

{% block sidebar_a %}{% endblock %}

{% block main %}

	{{form_start(form, {'attr': {'class': 'form-signin md-box'}})}}

		<header class="user-title-block">
			{{ 'password.recovery' | trans }}
		</header>

		<div class="md-form-padding md-autofill">

			{{form_row(form.password.first)}}
			{{form_row(form.password.second)}}

			<button class="btn btn-info mt-1" type="submit">{{ 'send' | trans }}</button>

		</div>

	{{form_end(form)}}

{% endblock %}
