{% extends 'interface/base.html.twig' %}

{% block main_top %}

    {% if app.user %}
        <div class="feed-types">
            <a href="{{ path('app_home') }}" class="active">{{ 'recommendations' | trans }}</a>
            <a href="{{ path('post_feed') }}">{{ 'following' | trans }}</a>
        </div>
    {% endif %}

{% endblock %}

{% block main %}

    {% for post in posts %}
        {{ postView(post) }}
    {% endfor %}

    {% include 'interface/post/_share_post.html.twig' %}

    {{ paginator.display() }}

{% endblock %}

{% block scripts %}
    {{ autoplay() }}
{% endblock %}
