{% extends '/bundles/TwigBundle/Exception/base.html.twig' %}

{% block title %}{{ 'error404' | trans }}{% endblock %}

{% block body %}

    <h1>{{ 'error404' | trans }}</h1>

    <p>
        {{ 'such.page.not.exist' | trans }}
    </p>

    <a class="btn btn-light" href="{{ path('app_home') }}">{{ 'back.to.home' | trans }}</a>

{% endblock %}
